.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

label {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.education {
    margin-top: 10px;
    margin-bottom: 10px;
}

.edu-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

textarea {
    width: 256px;
    resize: none;
}

.buttons {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

button {
    font-size: 1.1rem;
    padding: 6px 10px;
}