#root {
  padding: 2rem;
  display: flex;
  width: 100%;
}

.cv {
  flex: 2;
}

.forms {
  flex: 1;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  margin-top: 0;
}

.contact-details {
  display: flex;
  justify-content: space-around;
}