#root {
  padding: 2rem;
  display: flex;
  width: 100%;
  gap: 32px;
}

.forms {
  flex: 1;
  background-color: white;
  border-radius: 3px;
  padding: 10px;
}

.cv {
  flex: 2;
  background-color: white;
  border-radius: 3px;
  padding: 10px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  margin: 0;
}

.contact-details {
  display: flex;
  justify-content: space-around;
}

input {
  padding: 5px;
  width: 250px;
}